<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/cricindex.css">
</head>

<body>
    <div>
        <h1> Search Your Team</h1>
        <form action="/cricket" method="POST">
            <select type="option" name="team">
              <option>TEAM</option>
              <option>England 1</option>
              <option>australia 2</option>
              <option>south africa 3</option>
              <option>west indies 4</option>
              <option>new zeland 5</option>
              <option>india 6</option>
              <option>pakistan 7</option>
              <option>sri lanka 8</option>
              <option>zimbabwe 9</option>
              <option>united state america 11</option>
              <option>nedarlands 15</option>
              <option>papua new gunia 20</option>
              <option>united arab emirites 27</option>
              <option>namibia 28</option>
              <option>irland 29</option>
              <option>scotland 30</option>
              <option>nepal 33</option>
              <option>oman 37</option>
              <option>afganisthan 40</option>



            </select>

            <button type="submit" id="submit">ENTER</button>

        </form>
    </div>

</body>

</html>